#weatherDashboard {
    background-color: teal;
}

.row {
    position: relative;
    left:10%;
    padding-bottom: 2%;
}

#titleText {
    position: relative;
    text-align: center;
}


#Instructions {
    font-size: 30px;
}


#inputdiv {
    width:300px;
    
}

#inputkey {
    text-align: center;
    width:300px;
}

.searchButton {
    width:300px;
    background-color: royalblue;
}


#BIGBOX {
    background-color: red;
    width:882px;
    height:400px;
    left:470px;
    bottom:233px;
    position: relative;
}

#BRO {
    background-color:orange;
    width:1242px;
    height:400px;
    bottom:200px;
    left:110px;
    position:relative;
}

.dayWeather {
    background-color: black;
    border: 2px solid red;
    height:200px;
    width:100px;
    position:relative;
    left:20px;
}

/* #CCITY { 
    text-align: center;
    color: black;
    font-size: 10%;
} */
